html, body{
	height: 100%;
	/*background-color: #888888;*/
	background-image: url("../images/texture.png")
}

@font-face {
    font-family: cuprum;
    src: url("fonts/cuprum/Cuprum-Bold.ttf");
}
.contentContainer{
	position: fixed;
	top: 42px;
	z-index: 2000;
	height: calc(100% - 42px); /*header*/
	width: 100%;
	background-color: #CCCCCC;
	padding:30px;
}

.treePanel{
	background-color: #bbbbbb;
	height:100%;
	width: 30%;
	/*margin-right:10px;*/
	float:left;
	padding: 10px;
	/*margin-top: 10px;*/

	/*flex-direction: row;*/
}

.editPanel{
	background-color: #DDDDDD;
	height:80%;
	/*flex-direction: row;*/
}

.outputPanel{
	background-color: #aaaaaa;
	height:20%;
	/*flex-direction: row;*/
}

.selectedItem{
	color: red;
}
.deselectedItem{
	color: black;
}
.treeArea{
	background-color: #EEEEEE;
	padding: 15px;
	margin: 0px 10px;
	height:650px;
	overflow: scroll;
}
.selectArea{
	width:150px;
}
/*module higlighting in tree*/
.boldText{
	font-weight: bold
}
/*plus-minus buttons in tree view*/
.removeMargin{
	margin: 0;
}
/*editPanel properties*/
.propertyPane{
}
.propertyItem{
	margin-left:5px;
	border-bottom: 1px solid #888888;
}
.authForm{
	/*position: fixed;*/
	width: 300px;
	height: 200px;
	margin: 220px auto 10px auto;
	background-color: #CCCCCC;
	border: 2px solid #AAAAAA;
	border-radius: 10px;
	padding: 30px;
}
.headerPanel{
	z-index:1000;
	position: fixed;
	padding: 0px 5px 2px 5px;
	left: 0px;
	top: 0px;
	right: 0px;
	height: 42px;
	background-color: #1D4E89;
	white-space: nowrap;

}
.arionLogo{
	position: relative;
	left: 10px;
	padding-right: 40px;
	top: 6px;
	font-size: 30px;
	color: white;
	font-family: cuprum;
}
.buttonHeader{
	height: 40px;
	color: white;
	background-color: #1D4E89;
	border: 0px;
	left: 0px;
	right:0px;
	margin: 0px;
	font-size: 13px;
	box-shadow: 0px -2px 15px #356095;
}
.buttonHeader:hover{
	background-color: #6183AC;
}
.buttonHeader:active{
	background-color: #173E6E;
}
.floatRight{
	float: right;
	margin: auto 3px;
}