body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{
	padding:0px;
	margin:0px;
}
html{
	min-width: 650px;
	min-height: 500px;
	/*overflow: auto;*/
}
html, body{
	height: 100%;
	padding:0px;
	margin:0px;
	position: relative;
	font-family: arial;
	font-variant: normal;
	font-weight: normal;
	font-style: normal;
	/*background-color: #888888;*/
	/*background-image: url("/images/texture.png")*/
	background-color: #eeeeee
}

a:-webkit-any-link {
  color: auto;
  text-decoration: none;
  cursor: auto;
  font: normal normal normal  Arial;
}

.content{
	position: relative;
	margin: 10px 10px 0px 378px;
	height: 100%;
}

.outputPanel{
	background-color: #bbbbbb;
	float:right;
	width: calc(70% - 20px);
	height: 51%;
}

/*editPanel properties*/

.chartsPanel{
	background-color: #EEEEEE;
	padding: 15px 15px 20px 10px;
	margin: 0px;
	top: 10px;
	/*clear: both;*/
	position: absolute;
	bottom: 0px;
	top: 50%;
	width: calc(70% - 60px);
	height: calc(50% - 45px);
	overflow: auto;
}

.authForm{
	/*position: fixed;*/
	width: 300px;
	height: 200px;
	margin: 220px auto 10px auto;
	background-color: #FFFFFF;
	/*border: 2px solid #AAAAAA;*/
	box-shadow: 0px 0px 100px;
	border-radius: 0px;
	/*padding: 30px;*/
}

.alphaOverlay{
	position: fixed;
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.4);
	z-index:10;
}
.modal{
	margin: 80px auto;	
	box-shadow: 0px 0px 100px;
	/*padding: 30px;*/
}
.modalHeader{
	height: 30px;
	width: 100%;
	position: relative;
	background-color: #1D4E89;
	color: white;
	font-size: 18px;
	text-align: center;
	padding-top: 6px;
	vertical-align: middle;
}
.closeModal{
	margin-right: 10px;
	float: right;
}
.addElementModal{
	height: 330px;
	width: 500px;
	background-color: white
}
.addElementModalContent{
	padding: 10px 30px 30px 30px;
	font-size: 14px; 
	font-weight: bold;
}
.addModuleModal{
	height:200px;
	width: 500px;
	background-color: white;
}
.searchElementModal{
	height: 200px;
	width: 500px;
	background-color: white;	
}
.searchElementModalContent{
	padding: 10px 30px 30px 30px;
	font-size: 14px; 
	font-weight: bold;
}
.modalContentInput{
	padding: 4px;
}
.editorContentInput{
	padding: 2px;
}
.inputFullWidth{
	width: 100%;
}
.centralModalButton{
	height: 35px;
	padding: 2px 9px;
	font-size: 15px;
	margin: 6px auto 3px auto;
	background-color: #1D4E89;
	color: white;
	border: 0px;
	outline: none;
}
.centralModalButton:active{
	background-color: #173E6E;
}
.centralAlign{
	text-align: center;
}

.italicText{
	font-style: italic;
}
.editTable{
	/*border: 1px solid black;*/
}
table{
    /*border: 1px solid black;*/
    padding:2px;
}