html, body{
	height: 100%;
	padding:0px;
	margin:0px;
	font-family: arial;
	font-variant: normal;
	font-weight: normal;
	font-style: normal;
	/*background-color: #888888;*/
	background-image: url("../images/texture.png")
}

@font-face {
    font-family: cuprum;
    src: url("fonts/cuprum/Cuprum-Bold.ttf");
}

a:-webkit-any-link {
  color: auto;
  text-decoration: none;
  cursor: auto;
  font: normal normal normal  Arial;
}
.contentContainer{
	position: fixed;
	top: 42px;
	z-index: 1;
	height: calc(100% - 45px); /*header*/
	width: 100%;
	background-color: #CCCCCC;
}

.treePanel{
	background-color: #bbbbbb;
	position: absolute;
	height:100%;
	width: 30%;
	float:left;
	padding: 10px;
}

.editPanel{
	background-color: #bbbbbb;
	float:right;
	width: calc(70% - 20px);
	height:60%;
}

.outputPanel{
	background-color: #bbbbbb;
	float:right;
	width: calc(70% - 20px);
	height:40%;/
}

.selectedItem{
	background-color: #1D4E89;
	color: white;
}
.deselectedItem{
	color: black;
}
.treeArea{
	background-color: #EEEEEE;
	padding: 15px 15px 20px 15px;
	margin: 0px;
	bottom: 30px;
	position: absolute;
	width: calc(100% - 60px);
	height: calc(100% - 170px);
	overflow: scroll;
}
.treeSettingsArea{
	background-color: #EEEEEE;
	padding: 15px 15px 20px 15px;
	margin: 0px;
	top: 10px;
	font-size: 14px;
	position: absolute;
	width: calc(100% - 60px);
	height: 50px;
}
.selectArea{
	width:150px;
}
/*module higlighting in tree*/
.boldText{
	font-weight: bold
}
/*plus-minus buttons in tree view*/
.removeMargin{
	margin: 0;
}
/*editPanel properties*/
.propertyPanel{
	background-color: #EEEEEE;
	padding: 15px 15px 20px 25px;
	margin: 0px;
	top: 10px;
	position: absolute;
	width: calc(70% - 75px);
	height: calc(60% - 55px);
	overflow: scroll;
}
.chartsPanel{
	background-color: #EEEEEE;
	padding: 15px 15px 20px 25px;
	margin: 0px;
	top: 10px;
	/*clear: both;*/
	position: absolute;
	bottom: 0px;
	top: 60%;
	width: calc(70% - 75px);
	height: calc(40% - 45px);
	overflow: scroll;
}
.propertyItem{
	margin-left:5px;
	border-bottom: 1px solid #888888;
}
.authForm{
	/*position: fixed;*/
	width: 300px;
	height: 200px;
	margin: 220px auto 10px auto;
	background-color: #FFFFFF;
	/*border: 2px solid #AAAAAA;*/
	box-shadow: 0px 0px 100px;
	border-radius: 0px;
	/*padding: 30px;*/
}
.headerPanel{
	z-index:1;
	position: fixed;
	padding: 0px 5px 2px 5px;
	left: 0px;
	top: 0px;
	right: 0px;
	height: 42px;
	background-color: #1D4E89;
	white-space: nowrap;

}
.arionLogo{
	position: relative;
	left: 10px;
	padding-right: 40px;
	top: 6px;
	font-size: 30px;
	color: white;
	font-family: cuprum;
}
.buttonHeader{
	height: 40px;
	color: white;
	background-color: #1D4E89;
	border: 0px;
	left: 0px;
	right:0px;
	margin: 0px;
	font-size: 13px;
	box-shadow: 0px -2px 15px #356095;
}
.buttonHeader:hover{
	background-color: #6183AC;
}
.buttonHeader:active{
	background-color: #173E6E;
}
.buttonHeader:focus{
	border: 0px;
	outline: none;
}
.floatRight{
	float: right;
	margin: 2px 3px;
}
.alphaOverlay{
	position: fixed;
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.4);
	z-index:10;
}
.modal{
	margin: 80px auto;	
	box-shadow: 0px 0px 100px;
	/*padding: 30px;*/
}
.modalHeader{
	height: 30px;
	width: 100%;
	position: relative;
	background-color: #1D4E89;
	color: white;
	font-size: 18px;
	text-align: center;
	padding-top: 6px;
	vertical-align: middle;
}
.closeModal{
	margin-right: 10px;
	float: right;
}
.addElementModal{
	height: 330px;
	width: 500px;
	background-color: white
}
.addElementModalContent{
	padding: 10px 30px 30px 30px;
	font-size: 14px; 
	font-weight: bold;
}
.addModuleModal{
	height:200px;
	width: 500px;
	background-color: white;
}
.searchElementModal{
	height: 200px;
	width: 500px;
	background-color: white;	
}
.searchElementModalContent{
	padding: 10px 30px 30px 30px;
	font-size: 14px; 
	font-weight: bold;
}
.modalContentInput{
	padding: 4px;
}
.editorContentInput{
	padding: 2px;
}
.inputFullWidth{
	width: 100%;
}
.centralModalButton{
	height: 35px;
	padding: 2px 9px;
	font-size: 15px;
	margin: 6px auto 3px auto;
	background-color: #1D4E89;
	color: white;
	border: 0px;
	outline: none;
}
.centralModalButton:active{
	background-color: #173E6E;
}
.centralAlign{
	text-align: center;
}
.treeRow{
	height:15px;
	margin:5px;
}
.treeItem{
	padding:0px 5px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #BBBBBB;
	white-space: nowrap;
	/*margin-top: 10px;*/
	outline: none;
	/*background-color: #C2CFDF;*/
}
.italicText{
	font-style: italic;
}
.editTable{
	/*border: 1px solid black;*/
}
table{
    /*border: 1px solid black;*/
    padding:2px;
}