<div class="propertyPanel">
  <div ng-controller="EditorCtrl" ng-init="visibilityTrigger = false"  ng-show="selectedNode.type == 'element'" class="propertyPanelContent">

      <div ng-repeat="property in selectedNode.properties" >
        <span ng-show="property.visible == 'true' || visibilityTrigger == true" >

          <!-- Displaying simple number field -->
          <div  ng-show="property.type == 1 || property.type == 2" class="editorContentInput">
            {{property.name}}
            <input type="text" class="inputFullWidth" ng-model="property.value" ng-change="setValue(property)" ng-change="setValue(property)" ng-blur="checkValue()">
          </div>

          <!-- Displaying select list -->
          <div ng-show="property.type == 4" class="editorContentInput">
            {{property.name}}
            <select ng-model="property.value" class="inputFullWidth" ng-options="ans.name for ans in property.answers" ng-change="selectProperty(property.value, property.answers)">
              <option></option>     
            </select>
            <!-- Displaying dependent properties (visible and editable ones)-->
            <div ng-repeat="subProp in property.value.properties" class="editorContentInput">
              {{subProp.name}}
              <input type="text" class="inputFullWidth" ng-model="subProp.value" class="editorContentInput" placeholder="{{'Optional' | translate}}"> 
            </div>
            <!-- <div> {{property.value}} </div> -->
          </div>
        </span>
      </div>
      <b>{{'Model' | translate}}</b> <input type="text" class="inputFullWidth" ng-model="selectedNode.method">
      <br>

      <button ng-click="calculateReliability()" class="centralModalButton">
        {{"Calculate"| translate}}
      </button>
      <input type="checkbox" ng-model="visibilityTrigger"> {{"Show hidden properties" | translate}}
      <hr>

      <div ng-show="selectedNode.modelValue != undefined">
        <div>
          <b>
            {{('Reliability'| translate) + selectedNode.modelValue}}
          </b>
        </div>
        <div>
          <b>
            {{"Coefficients"| translate}}
            </b>
        </div>
        <div ng-repeat="(key, value) in coefficients">
          <i>
            {{("Coefficient"| translate) + " " + key + " = " + value}}
          </i>
        </div>
      </div>
  </div>
</div>