<div ng-controller="HeaderCtrl">
	<span class="arionLogo">{{'Arion' | translate}}</span>
	<button class="buttonHeader" ng-click="addElement()">
		<i class="ion-plus"></i> {{ 'Add element' | translate }}
	</button> 
	<button class="buttonHeader" ng-click="addModule()">
		<i class="ion-plus"></i> {{ 'Add module' | translate }} 
	</button>
	<!-- <button class="buttonHeader" ng-click="later()">
		<i class="ion-play"></i> {{ 'Calculate device' | translate }} 
	</button> -->
	<button class="buttonHeader" ng-click="later()">
		<i class="ion-edit"></i> {{ 'Build report' | translate }} 
	</button>
	<button class="buttonHeader floatRight" ng-click="logout()">
		<i class="ion-log-out"></i> {{ 'Logout' | translate }} 
	</button>
	<button class="buttonHeader floatRight" ng-click="later()">
		<i class="ion-gear-a"></i> {{ 'Settings' | translate }} 
	</button> 
</div>