<div class="alphaOverlay" ng-click="modal.visible = false">
	<div  ng-class="[modal.type]" class="modal" ng-click="$event.stopPropagation()">
		<div class="modalHeader"> 
			{{modal.type | translate}} 
			<i class="ion-close closeModal" ng-click="modal.visible = false"></i>
		</div>
		<div ng-show="modal.type == 'addElementModal'" ng-include="'templates/addElementModal.html'"></div>	
		<div ng-show="modal.type == 'addModuleModal'" ng-include="'templates/addModuleModal.html'"></div>	
		<div ng-show="modal.type == 'searchElementModal'" ng-include="'templates/searchElementModal.html'"></div>
<!-- 		{{trial}} -->
</div>
