<div ng-controller="TreeCtrl">
	<div class="treeSettingsArea">
		<input type="checkbox" ng-model="isShownAsList"> {{"Show as list" | translate}}
		<div>
			<button class="centralModalButton" style="height: 28px; padding: 2px 4px"  ng-click="initSearch()">
				<i class="ion-android-search"></i>
				{{"Search element" | translate}}
			</button>
			<!-- <button class="centralModalButton" style="height: 28px; padding: 2px 4px">
				<i class="ion-gear-a"></i>
				{{"Sorting and filtering" | translate}}
			</button> -->
		</div>
	</div>	
	<div class="treeArea" >
		<div ng-repeat="item in treeModel.children"
			class="treeRow"
		 	ng-include="'templates/treeItem.html'" 
		 	ng-click="selectNode($event, item)"
		 	ng-show="!isShownAsList">
		</div>
		<!-- <div>{{$parent.treeAsList}}</div> -->
		<div ng-repeat="item in $parent.treeAsList"
			ng-click="selectNode($event, item)"
			ng-show="isShownAsList"
			ng-class="{'boldText': item.type == 'module', 'selectedItem': item.selected}"> 
			{{item.name + " (" + item.position + "); [" + item.modelValue + ']'}}
		</div>
	</div>
</div>