<!-- plus-minus expanding buttons -->
<span ng-show="item.type == 'module'"
	ng-class="{'ion-chevron-down': item.expanded, 'ion-chevron-right': !item.expanded}"
	ng-click="expandModule($event, item)">
</span>

<!-- displaying item content -->
<span 	class="treeItem"
		ng-class="{'boldText': item.type == 'module', 'selectedItem': item.selected}"> 
	<span style="margin:5px">{{item.name}}</span>
</span>

<!-- repeats children -->
<span ng-show="item.expanded">
	<div style="margin-left:31px" 
		ng-repeat="item in item.children" 
		ng-include="'templates/treeItem.html'" 
		ng-click="selectNode($event, item)" >
	</div>
</span>